/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h1 {
font-size: 2em; border-bottom: 5px;
}

h2 {
font-size: 1.6em; font-weight: bold;
}

p {

}

em {
font-style: italic;
}

